<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full grid place-items-center">
    <div id="app">
        <section v-show="inProgressTask.length">
            <h2 class="font-bold mb-2">In Progress Task</h2>
            <ul>
                <li v-for="task in inProgressTask" :key="task.id">
                    <label>
                        {{ task.title }}
                        <input type="checkbox" v-model="task.complete">
                    </label>
                </li>
            </ul>
        </section>
        
        <section v-show="completedTask.length">
            <h2 class="font-bold mb-2 mt-5">Completed Task</h2>
            <ul>
                <li v-for="task in completedTask" :key="task.id">
                    <label>
                        {{ task.title }}
                        <input type="checkbox" v-model="task.complete">
                    </label>
                </li>
            </ul>
        </section>
    </div>

    <script>
        let App = {
            data() {
                return {
                    tasks: [
                        {
                            id: 1, title: 'Wake Up at 8 am', complete: false
                        },
                        {
                            id: 2, title: 'Brush teeth at 840', complete: false
                        },
                        {
                            id: 3, title: 'BreakFast at 9 am', complete: false
                        },
                    ]
                }
            },

            computed: {

                inProgressTask() {
                    return this.tasks.filter(task => !task.complete);
                },
                completedTask() {
                    return this.tasks.filter(function(task) {
                        return task.complete
                    });
                }
            }
        }


        Vue.createApp(App).mount('#app');
    </script>

</body>
</html>